@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input[data-autocompleted] {
  background-color: transparent !important;
}
